<h1>Assessments</h1>

<% @assessments.each do |a| %>
  
  <b><%= a.name %></b><br>
  <p>
  <%= a.description %>
  </p>
  <p><%= link_to "begin survey", assessment_questions_path(a.id) %></p>
  <% end %>