<h1>Results</h1>

<h3>Score Rubric</h3>

<p>0-3 You have desires and dreams for the future but you most likely don’t have anyone who is keeping you accountable for achieving those goals.

We all have passions we want to use to make a positive impact on those around us but all too often, it’s easy to let work, fun, or any distraction keep us from acting like we should.

CollegePlus coaches assist individuals in identifying what their passions are and then formulating practical action steps to see them come to fruition. Without outside accountability, many dreams never materialize but a coach can help you persevere through the trials you encounter.

Your big needs right now:
1
2
3

Your interest in having a life coach assist you in meeting your dreams could mean you’re a great fit for CollegePlus. Take the first step to enrollment by accessing our free information packet.

IP Request Form.



4-6 There’s a good chance you’re allowing others to speak into your life and better formulate what it would look like to accomplish. That’s great but if it’s sporadic, you might still be able to do more to achieve your full potential.

Plus, is there anyone peeking over your shoulder to make sure you’re cutting it academically? While it’s admirable to take charge of your education by homeschooling or studying online, setting your own goals often means you can push back your deadlines too.

In addition to helping you achieve your life goals, an objective coach can also ensure you are meeting your education targets too. CollegePlus coaches advise students on which courses best align with their interests and the learning resources they should use that fit their learning style.  

Your big needs right now:
A structured life purpose discovery course
A list of 3-5 actionable goals you can complete within 90 days
Time to distill your interests into a single focus statement

Your interest in having a life coach assist you in meeting your dreams could mean you’re a great fit for CollegePlus. Take the first step to enrollment by accessing our free information packet.

IP Request Form.

7-9 You have a good sense of your unique, God-given purpose. Now you need someone to hold you to the practical steps you have to take.

Even with the best knowledge, we still run into roadblocks and challenges when it comes to pursuing our life purpose. These obstacles can be puzzling and discouraging.

Even the most motivated individuals in history have had people around them who wouldn’t let them give up when things got tough. Their encouragement during these times enabled them to stay true to the vision God had given them.

There’s a good chance you’re in the same situation. You’ve discovered your life purpose but you need someone to help you keep things in perspective. A coach who is observing you from the sidelines is sometimes the only person who can help you meet your fullest potential.

It’s key that this person be objective: oftentimes friends and family can care about you too much to tell you the hard truth you need to hear.

The best coaches don’t let you talk yourself out of pursuing your dreams. You can’t put a pricetag on that kind of relationship.

Your big needs right now:
A timetable for launching into your purpose completely
A life coach who understands your vision
A network of likeminded people to collaborate with

Your interest in having a life coach assist you in meeting your dreams could mean you’re a great fit for CollegePlus. Take the first step to enrollment by accessing our free information packet.

IP Request Form.

Perfect 10 You have a strong sense of your purpose and relationships that challenge you to keep pushing yourself forward and are probably fulfilling it already.

You have a clear sense of where you need to go and how to get there. There are people who are keeping you accountable so that you don’t stop fulfilling your vision. You also have a group of people you have introduced yourself to and are staying in contact with who will help you turn your ideas into reality.

The people in your shoes are few but you are making a strong impact on the world around you because of your focused, motivated outlook on life as well as your dedication to living out God’s will.

Your big needs right now:
Stay true to your course
Maintain coach relationships that challenge you
Continue building a network of equally dedicated people 

Your interest in having a life coach assist you in meeting your dreams could mean you’re a great fit for CollegePlus. Take the first step to enrollment by accessing our free information packet.

IP Request Form.</p>